/*#########################################################################
####################              VARIABLES            ####################
#########################################################################*/

:root {

    /* -----------                 Typography                 ----------- */

    --font-sans: var(--font-geist-sans), system-ui, sans-serif;
    --text-base: 1rem;
    --text-sm: 0.875rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.75rem;
    --text-2xl: 2.25rem;
    --text-3xl: 4rem;

    /* -----------               Spacing scale                ----------- */

    --space-xs: 0.1rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
    --space-2xl: 4rem;
}

/*#########################################################################
####################              NORMALIZE            ####################
#########################################################################*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-sans);
    color: var(--color-text);
    background: var(--color-background);
    /* line-height: 1.6; */
    -webkit-font-smoothing: antialiased;
    background: var(--color-cardBackground);
}

h1, h2, h3 {
    font-family: var(--font-Boldonse);
    font-weight: 400;   /* Boldonse is a single-weight font (400) */
}

h1,
h2,
h3,
p,
figure,
blockquote {
    margin: 0;
    padding: 0;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/*#########################################################################
####################               LAYOUT              ####################
#########################################################################*/

.container {
    max-width: 72rem;
    margin-inline: auto;
    padding-inline: var(--space-md);
}

.container--narrow {
    max-width: 65rem;
}

.container--wide {
    max-width: 80rem;
}

/* -----------               RGAA focus outline              ----------- */

:focus-visible {
    outline: 3px solid var(--color-primary);
    outline-offset: 2px;
}