.footer {
    background: #eed3c8;
}

.inner {
    flex-direction: column;
    max-width: 40rem;
    display: flex;
    align-items: center;
    margin-inline: auto;
}

.brand {
    padding-top: var(--space-sm);
    font-weight: 700;
    color: var(--color-primary);
}

.contacts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    list-style: none;
    padding-inline-start: 0;
}

.contacts a {
    text-decoration: none;
    color: var(--color-primary);
    font: inherit;
    font-weight: 600;
    cursor: pointer;
}

.links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding-inline-start: 0;
}

.links a {
   color: var(--color-primary);
}