.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--space-xl);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.title {
    font-size: var(--text-3xl);
    margin-block-end: var(--space-sm);
    color: var(--color-primary);
}

.intro {
    color: var(--color-text-muted);
     font-size: var(--text-xl);
   
    margin-block-end: var(--space-lg);
}

.form_text {
    font-size: var(--text-xl);
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 40rem;
    padding: 1rem;
}

.icons_svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.icons_text {
    display: flex;
    flex-direction: column;
}

