.presentation {
    padding-block: var(--space-xl);
}

.title {
    font-size: var(--text-xl);
    margin: 0 auto var(--space-lg);
    margin-inline: var(--space-xl);
    text-align: center;
}

.subtitle {
    font-size: var(--text-md);
    margin-block-end: var(--space-lg);
    margin-inline: var(--space-xl);
    text-align: center;
}

.subtitle2 {
    font-size: var(--text-md);
    margin-block-end: var(--space-lg);
margin-inline: var(--space-xl);
    text-align: center;
}

.introduction {
    font-size: var(--text-md);
    margin-block-end: var(--space-lg);
    margin-inline: var(--space-xl);
    text-align: center;
}

.photo {
    border-radius: 1rem;       
    width: 100%;                
    height: auto;               
    display: block;             
    object-fit: cover;
}